.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.books-search-form {
  margin-bottom: 10px;
  @media all and (min-width: 580px) {
    width: 35%;
    height: 100vh;
    float: left;
  }
}