.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

.books-search-form {
  margin-bottom: 10px; }
  @media all and (min-width: 580px) {
    .books-search-form {
      width: 35%;
      height: 100vh;
      float: left; } }

div.right-panel {
  width: 65%;
  display: block;
  float: right; }
  @media all and (max-width: 580px) {
    div.right-panel {
      width: 100%;
      display: block;
      float: right; } }

#detail-book {
  margin-top: 5%;
  margin-right: 3%;
  display: grid;
  grid-template-areas: "bookImage title" "bookImage author" "bookImage bookUpdateDate" "bookImage bookInfo" "bookCaption bookCaption" "rakutenButton rakutenButton"; }

#detail-book-title {
  grid-area: title;
  text-align: left; }

#detail-author {
  grid-area: author;
  margin-bottom: 3%;
  text-align: right; }

#detail-image {
  grid-area: bookImage;
  margin-right: 15px; }

#detail-updated-at {
  grid-area: bookUpdateDate;
  text-align: right; }

#detail-table {
  grid-area: bookInfo;
  border: 1px solid;
  padding: 0%;
  table-layout: fixed; }

.detail-table-head {
  text-align: right; }

.detail-table-value {
  text-align: left; }

#detail-item-caption {
  grid-area: bookCaption;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 600px;
  text-align: left; }

#rakuten-button {
  grid-area: rakutenButton; }
