<!DOCTYPE html>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# どこに向けたフォームなのか（actionに入る要素）をurlで
        指定しないと、'xx_path'エラーが出る %>
    <%= search_form_for @q, url: search_path do |f| %>
      <%# attrの後ろに'_cont'をつけると部分一致になる %>
      <%# https://github.com/activerecord-hackery/ransack#search-matchers %>
      <%= f.label :title_cont, "タイトル" %>
      <%= f.search_field :title_cont %>
      
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>