<!DOCTYPE html>
<ul class="books">
    <% @books.each do |book| %>
    <li>
        <%= image_tag book.medium_image_url %>
    </li>
    <li>
        タイトル：<%= book.title %>
    </li>
    <li>
        レビュー数：<%= book.review_count %>
    </li>
    <% end %>
</ul>