<!DOCTYPE html>
<ul class="books">
  <% @books.each do |book| %>
  <li class: "book">
    <%= link_to(
      image_tag(book.medium_image_url),
      book_path(book.id),
      :class => 'book-image'
    )%>
    <div class='title-name'>タイトル：<%= book.title %></div>
    <div class='review-num'>レビュー数：<%= book.review_count %></div>
  </li>
  <% end %>
</ul>