<!DOCTYPE html>
<div class="book">
  <% @books.each do |book| %>
    <%= link_to (book_path(book.id)), {:class => "one-book"} do %>
      <%= image_tag book.medium_image_url, :class => 'book-image' %>
      <div class='title'>タイトル：<%= book.title %></div>
      <div class='review-num'>レビュー数：<%= book.review_count %></div>
    <% end %>
  <% end %>
</div>