<%= provide(:title, '検索') %>
<!DOCTYPE html>
<div class='main-contents'>
  <div class="search-forms-panel">
    <%= render 'books/left' %>
  </div>
  <div class="results-panel">
    <%= render 'books/right' %>
  </div>
</div>