.genre-group-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas: 'panel checkbox'; }

.genre-group-panel {
  grid-area: 'panel'; }

.genre-group-checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  grid-area: 'checkbox'; }
