@media (width > 767px) {
  .main-contents {
    display: grid; /* グリッドレイアウト */
    // grid-template-rows: 100px 50px; 今回は行は指定しない
    grid-template-columns: 300px 1fr;
  }
  
  .search-forms-panel {
    grid-column: 1 / 2;
    // background: #8f8;
  }
  
  .results-panel {
    grid-column: 2 / 3;
    // background: #88f;
  }
}

li {
  list-style-type: none;
  float: left;
  margin: 0px 10px 10px 0px;
}

.title-name {
  white-space: nowrap; 
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: inline;
}

///////////////////////////////
// start grid for pagination
///////////////////////////////

.results-panel {
  display: grid;
  margin-left: 10%;
  grid-template-rows: 5% auto 5%;
}

.top {
  grid-row: 1 / 2;
  // background: red;
}
.books {
  grid-row: 2 / 3;
  // background: blue;
}
.under {
  grid-row: 3 / 4;
  // background: green;
}

///////////////////////////////
// end grid for pagination
///////////////////////////////

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* forms */

///////////////////////////////
// start grid for min-max form
///////////////////////////////

.range-namber {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left-label   right-label"
    "left-form right-form";
}

.left-label { grid-area: left-label; }
.left-form { grid-area: left-form; }

.right-label{ grid-area: right-label; }
.right-form {
  grid-area: right-form;
  margin-left: 5%;
}

///////////////////////////////
// end grid for min-max form
///////////////////////////////

input, textarea, select, .uneditable-input, .select2-container--bootstrap {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.btn, label[for=sort-links] {
  margin-top: 15px;
}

.col-md-6 {
  max-width: 80%;
  margin: 0 auto;
}

.sort_link {
  margin-right: 5px;
}

// if device is smart phone, display of sort_link is 'inline'.
a.sort_link {display: inline;}
@media (width > 767px) {
  a.sort_link {display: block;}
}