$right-max-width: 500px;

.show-page-outer {
  margin-top: 5%;
  margin-left: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 1fr;
}

.show-page-left {
  grid-column: 1 / 2;
}

.show-page-right {
  grid-column: 2 / 3;
}

.book-image {
  display: block;
  margin: auto;
}

.return-button {
  margin-top: 20px;
  display: block;
  text-align: center;
}

#book-item-caption {
  margin-top: 40px;
  margin-bottom: 10%;
  max-width: $right-max-width;
}

#update-date {
  margin-bottom: 15px;
}

ul {
  padding: 0%;
  padding-top: 5px;
  border: 1px solid;
  max-width: $right-max-width;
}

li {
  float: none;
  margin-left: 10px;
}